artifacts
bin
obj
*.suo
*.user
Thumbs.db
*.sln.ide

/src/.vs/*
/src/packages/*
!/src/packages/NuGet.CommandLine.*
/src/packages/NuGet.CommandLine.*/*
/src/packages/NuGet.CommandLine.*/*.*
!/src/packages/NuGet.CommandLine.*/tools
/src/packages/NuGet.CommandLine.*/tools/*
/src/packages/NuGet.CommandLine.*/tools/*.*
!/src/packages/NuGet.CommandLine.*/tools/NuGet.exe

project.lock.json