version: '{build}'
pull_requests:
  do_not_increment_build_number: true
branches:
  only:
  - dev
  - master
skip_tags: true
environment:
  BUILD_NUMBER: $(APPVEYOR_BUILD_NUMBER)
install:
- cmd: bundle install
build_script:
- cmd: build.cmd
test: off
artifacts:
- path: artifacts\**\*.*
- path: src\test\**\*TestResults.*
deploy: off
